body {
    margin: 0;
}
h2 {
    font-family: 'Comic Sans';
}
.ficha{
    /* mismo tamaño; disposición en grilla; fondo; márgenes; bordes */
    /* width, height; comportamiento de línea/bloque */
    width: 400px;
    margin: 30px;
    overflow: hidden;
    border-radius: 20px;
    display: inline-block;
    border: 2px solid gray;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    
}
.nombreMascota{
    color:white;
    font-family:"Comic Sans",sans-serif;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 20px;

}
img{
    max-width: 360px;
    height: 220px;
}
*{
    text-align: center;
}
.imagenMascota{
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.virtudes{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px;
    padding: 0px;
}

.virtudes li{
    margin: 5px 30px;
    font-size: 20px;
    font-family: sans-serif;
}

.botonAdoptar{
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-family: cursive;
}

#gatoMiguel{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_640.jpg");
}
#gatoPepe{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://nupec.com/wp-content/uploads/2021/02/Captura-de-pantalla-2021-02-08-a-las-13.59.48.png");
    background-position:right;
}
#perroPatan {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://definicion.de/wp-content/uploads/2013/03/perro-1.jpg");
}
#perroHuesos {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://i.ibb.co/sWw7f0Y/perro-huesos.png");
}
#perraAkira{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://pampermut.com/blog/wp-content/uploads/2020/05/Como-es-el-caracter-de-tu-perro-segun-su-horoscopo-scaled.jpg");
}
#perraLaika{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
}
#lemurPluto{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://www.akronzoo.org/sites/default/files/styles/uncropped_xl/public/2022-05/Ring-tailed-lemur-main.png?itok=T7g7bQt6");
}
#ratonMarley{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2019/05/09/5fa5334e4f8da.jpeg");
}
#ñanduPaco{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://cdn.download.ams.birds.cornell.edu/api/v1/asset/183424031/1800");
}
#ratonPinky{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://img.freepik.com/foto-gratis/primer-plano-sobre-rata-blanca_23-2150760628.jpg");
}
#hamsterNiebla{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://www.zooplus.es/magazine/wp-content/uploads/2019/04/hamster-rasseportrait.jpg");
}
#serpienteAnonima{
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%), url("https://d2r8r0qhs4bt8m.cloudfront.net/wp-content/uploads/2019/10/18163743/desktop-1425399420.jpg");
}